In [30]:
import pandas as pd
# df = pd.read_csv("stock_data.csv", header=1) header inicia na linha 1 e não na 0 como padrão
df = pd.read_csv(
    "stock_data.csv", 
    skiprows=1, # pula a primeira linha
    #header=None, # Ignora o header do arquivo
    #nrows=3, # Limita quantidade de linhas lidas
    #na_values=["not available", "n.a."], # transforma valores ausentes
    na_values={ # mesmo que acima, mas usando dict para escolher colunas
        'eps': ["not available", "n.a."],
        'revenue': ["not available", "n.a.", -1],
        'people': ["not available", "n.a."]
    }
    #names=["tickers","eps","revenue","price","people"] # novo header
)

df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [26]:
df.to_csv('new.csv', index=False, columns=['tickers', 'eps'], header=False)

In [27]:
df2 = pd.read_csv('new.csv')
df2

  GOOGL  27.82
0   WMT   4.61
1  MSFT  -1.00
2  RIL     NaN
3  TATA   5.60